{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block content %}
  <div>
    <h3>Assessment: {{ assessment.mine.name }}</h3>
    <h4 class="">Company: {{ assessment.mine.company.name }}</h4>
    <h4>Location: {{ assessment.mine.location }}</h4>
    <h4>Date {{ assessment.date }}
  </div>
  <div class="mt-5 border-top">
    <h3 class="mt-4">Results</h3>
    <div id="id_categoryResults"></div>
    {{ assessment.get_responses_by_category }}
  </div>
{% endblock %}
{% block javascript %}
  <script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Element", "Density", { role: "style" } ],
        ["Copper", 8.94, "#b87333"],
        ["Silver", 10.49, "silver"],
        ["Gold", 19.30, "gold"],
        ["Platinum", 21.45, "color: #e5e4e2"]
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "Density of Precious Metals, in g/cm^3",
        width: 600,
        height: 400,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.BarChart(document.getElementById("id_categoryResults"));
      chart.draw(view, options);
  }
  </script>
{% endblock %}