{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block content %}
  <div>
    <h3>Assessment: {{ assessment.mine.name }}</h3>
    <h4 class="">Company: {{ assessment.mine.company.name }}</h4>
    <h4>Location: {{ assessment.mine.location }}</h4>
    <h4>Date {{ assessment.date }}
  </div>
  <div class="mt-5 border-top">
    <h3 class="mt-4">Results</h3>
    <div id="id_categoryResults"></div>
    {% for category, data in assessment.get_responses_by_category.items %}
    <h4 class="mt-5">{{ category }} ({{ data.2.0 }}/{{ data.2.3 }})</h4>
    <p>{{ data.0 }}</p>
    <table class="table">
      <thead>
        <tr>
          <th>Question</th>
          <th class="text-center">Compliance</th>
        </tr>
      </thead>
      <tbody>
      {% for response in data.1 %}
        <tr>
          <td class="align-middle">{{ response.question.name }}</td>
          <td class="text-center">{% if response.response == False %}<i class="fas fa-times fa-2x text-danger"></i>{% elif response.response == True %}<i class="fas fa-check fa-2x text-success"></i>{% else %}<i class="fas fa-question fa-lg py-2"></i>{% endif %}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endfor %}
  </div>
{% endblock %}
{% block javascript %}
  <script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Category", "Yes", "No", "N/A", { role: "annotation" } ],
        {% for cat, values in assessment.get_responses_by_category.items %}
        ["{{ cat }}", {{ values.2.0 }}, {{ values.2.1 }}, {{ values.2.2 }}, ""],
        {% endfor %}
      ]);

      var options = {
        height: 800,
        bar: {groupWidth: "95%"},
        legend: { position: "top" },
        isStacked: 'percent',
      };
      var chart = new google.visualization.BarChart(document.getElementById("id_categoryResults"));
      chart.draw(data, options);
  }
  </script>
{% endblock %}