{% extends 'base.html' %}
{% block head %}
<meta property="og:title" content="{{ mine.name }}" />
<meta property="og:url" content="https://www.rmf-msat.herokuapp.com{{ mine.get_absolute_url }}" />
<meta property="og:type" content="article" />
<meta property="og:description" content="{{ mine.name }}, {{ mine.company }}, {{ mine.location }}" />
{% endblock %}
{% block content %}
  <div>
    <h3>Mine site name: {{ mine.name }}</h3>
    <h4 class="">Company: {{ mine.company.name }}</h4>
    <h4>Location: {{ mine.location }}</h4>
  </div>
  <div class="border-top">
    <h3 class="pt-5">Assessments of this mine</h3>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Conducted By</th>
          <th scope="col">Score</th>
        </tr>
      </thead>
      <tbody>
      {% for assessment in mine.assessment_set.all %}
        <th scope="row"><a href="{{ assessment.get_absolute_url }}">{{ assessment.date }}</a></th>
        <td><a href="{{ assessment.get_absolute_url }}">{{ assessment.user }}</a></td>
        <td><a href="{{ assessment.get_absolute_url }}">{{ assessment.get_score|stringformat:"d%%" }}</a></td>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}