<html>
    <head>
        <title>Mine Site Assessment Tool</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    </head>
    <body style="padding:50px;">
        <h1>Site name: {{ mine.name }}</h1>
        <h2 class="BigText">Company: {{ mine.company.name }}</h2>
        <h3>Location: {{ mine.location }}</h3>
        <h2>Assessments of this mine</h2>
        {% for assessment in mine.assessment_set.all %}
        <p class="BigText" style="padding-top:30px;">{{ assessment.date }} - By {{ assessment.user }}</p>
            {% for response in assessment.response_set.all %}
                <p>{{response.question}}: 
                    <strong>{{ response.get_answer }}</strong>
                </p>
            {% endfor %}
        {% endfor %}
    </body>
</html>