{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head %}
<meta property="og:title" content="Mine Site Assessment Tool" />
<meta property="og:url" content="https://www.rmf-msat.herokuapp.com{{ mine.get_absolute_url }}" />
<meta property="og:type" content="article" />
<!-- <meta property="og:description" content="Assess " /> -->
{% endblock %}
{% block content %}
    <h3>Complete an Assessment</h3>
    <form method="POST">
        {% csrf_token %}
        <div class="container border p-2 mb-4">
            <div class="form-group row">
                <label class="col-3 col-form-label">Mine site name:</label>
                <div class="col-9 col-form-label">
                    <input type="text" name="mine">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label">Company name:</label>
                <div class="col-9 col-form-label"><input type="text" name="company"></div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label">Location:</label>
                <div class="col-9 col-form-label"><input type="text" name="location"></div>
            </div>
        </div>
        <div>
        {% regroup question_list by category as category_group %}
        {% for category in category_group %}
            <div class="container border mb-4">
                <div class="row border-bottom row-striped">
                    <div class="col">{{ category.grouper.order_id }}</div>
                    <div class="col-11 font-weight-bold">{{ category.grouper }}</div>
                </div>
                <div class="New row border-bottom row-striped">
                    <div class="col"></div>
                    <div class="col-9">For this mine site, does the company:</div>
                    <div class="col">No</div>
                    <div class="col">Yes</div>
                </div>
                {% for question in category.list %}
                <div class="row row-striped">
                    <div class="col">{{ question.order_id }}</div>
                    <div class="col-9">{{ question }}</div>
                    <div class="col"><input type="checkbox" name="{{ question.id }}_false"></div><div class="col"><input type="checkbox" name="{{ question.id }}_true"></div>
                </div>
                {% endfor %}
            </div>
        {% endfor %}
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
{% endblock %}