{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head %}
<meta property="og:title" content="Mine Site Assessment Tool" />
<meta property="og:url" content="https://www.rmf-msat.herokuapp.com{{ mine.get_absolute_url }}" />
<meta property="og:type" content="article" />
<!-- <meta property="og:description" content="Assess " /> -->
{% endblock %}
{% block content %}
  <form method="POST">
    {% csrf_token %}
    <div class="container">
      <h3 class="h4">Complete an Assessment</h3>
    </div>
    <div class="container border p-2 mb-4">
      <div class="form-group row">
        <label class="col-2 col-form-label">Mine site name:</label>
        <div class="col-3 col-form-label">
            <input type="text" name="mine" class="select w-100">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Company name:</label>
        <div class="col-3 col-form-label">
          <input type="text" name="company" class="w-100"></div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Location:</label>
        <div class="col-3 col-form-label">
          <input type="text" name="location" class="w-100"></div>
      </div>
    </div>
    <div>
    {% regroup question_list by category as category_group %}
    {% for category in category_group %}
      <div class="container border mb-4">
        <div class="row border-bottom row-striped">
          <div class="col-8">
            <div class="row">
              <div class="col h4 pt-1">{{ category.grouper.order_id }}</div>
              <div class="col-11 font-weight-bold h4 pt-1">{{ category.grouper }}</div>
            </div>
          </div>
          <div class="col-4"></div>
        </div>
        <div class="New row border-bottom row-striped">
          <div class="col-6">
            <div class="row">
              <div class="col"></div>
              <div class="col-11">For this mine site, does the company:</div>
            </div>
          </div>
          <div class="col-4"></div>
          <div class="col-2">
            <div class="row">
              <div class="col text-center"><strong>No</strong></div>
              <div class="col text-center"><strong>Yes</strong></div>
            </div>
          </div>
        </div>
        {% for question in category.list %}
        <div class="row row-striped">
          <div class="col-8">
            <div class="row">
              <div class="col">{{ question.order_id }}</div>
              <div class="col-11">{{ question }}</div>
            </div>
          </div>
          <div class="col-2"></div>
          <div class="col-2">
            <div class="row">
              <div class="col text-center"><input type="radio" value="False" name="{{ question.id }}"></div>
              <div class="col text-center"><input type="radio" value="True" name="{{ question.id }}"></div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    {% endfor %}
    </div>
    <div class="container">
      <div class="row">
        <div class="col-10">
        </div>
        <div class="col-2">
          <input class="btn btn-primary btn-lg w-100" type="submit" value="Submit">
        </div>
      </div>
    </div>
  </form>
{% endblock %}