{% load static %}
<html>
  <head>
    <title>Mine Site Assessment Tool</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <script type="text/javascript" src="{% static 'js/selectize.js' %}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>
  {% block head %}
  <meta property="og:title" content="{{ mine.name }}" />
  <meta property="og:url" content="https://www.rmf-msat.herokuapp.com{{ mine.get_absolute_url }}" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="{{ mine.name }}, {{ mine.company }}, {{ mine.location }}" />
  {% endblock %}

  <body>
     <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="https://www.responsibleminingfoundation.org">
        <img src="https://www.responsibleminingfoundation.org/app/themes/wise/resources/dist/svg/RMF-RGB.svg" height="30" class="d-inline-block align-top pl-5" alt="Responsibile Mining Foundation">      
      </a>
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'mine_list' %}">Mines</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'answer_questions' %}">Assessment</a></li>
<!--         <li class="nav-item"><a class="nav-link" href="https://www.responsibleminingfoundation.org/" target="_blank">About Us</a></li> -->
      </ul>
    </nav>
    <div style="padding:20px 50px;">
      <h1>Mine Site Assessment Tool (MSAT)</h1>
      <h2 class="h3 pt-3 pb-5">A tool developed by and for local stakeholders</h2>
      {% block content %}
      {% endblock %}
    </div>
  </body>
  {% block selectize %}
  <script>
    $(function() {
        $('select').selectize({
          create: function(input){ 
            return {'value': value, 'text': text}
          },
          plugins: ['remove_button'] ,
        });
    });
  </script>
  {% endblock %}
  {% block javascript %}
  {% endblock %}
</html>