<html>
    <head>
        <title>Mine Site Assessment Tool</title>
    </head>
    <body>
        <h1>RMF: Mine Site Assessment Tool</h1>
        <navbar>
            <a href="{% url 'mine_list' %}">View List of Mines</a>
        </navbar>
        <h2>A tool developed by and for local stakeholders</h2>
        <img max-width="400px" src="https://www.responsibleminingfoundation.org/app/uploads/MSAT-cover.jpg">
        <div>
            <p>Based on wide-ranging testing and consultation, this set of questions is intended as a starting point to constructive engagement at any mine site, big or small, and for local communities, civil society, workers, trade unions, local government and others wishing to engage in a constructive way on what one can reasonably expect from mine sites in most environments.</p>
            <p>Following the publication of the first RMI Report in 2018, it is the result of numerous requests from mining-affected groups around the world for an easy-to-use and easy-to-understand tool. A tool to enter into dialogue with mining companies on some of the matters that directly affect communities and workers in and around a mine.</p>
            <p>The selection of topics and issues covered is not comprehensive, but local stakeholders can follow a similar approach to address any other mining-related matter of interest.</p>
            <p>The Mine Site Assessment Tool (MSAT) is free to use by anyone, even a mine manager seeking to engage on the fundamental issues affecting a mine site’s neighbours.</p>
    </body>
</html>